<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.threats_and_preventions"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.threats_and_preventions.MainActivity"
            android:screenOrientation="portrait"            
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.threats_and_preventions.ThreatsMenu"
            android:screenOrientation="portrait"            
            android:label="@string/title_activity_threats_menu" >
        </activity>
        <activity
            android:name="com.example.threats_and_preventions.PreventionsMenu"
            android:screenOrientation="portrait"            
            android:label="@string/title_activity_preventions_menu" >
        </activity>
        <activity
            android:name="com.example.threats_and_preventions.DosInfo"
            android:screenOrientation="portrait"            
            android:label="@string/title_activity_dos_info" >
        </activity>
        <activity
            android:name="com.example.threats_and_preventions.VirusInfo"
            android:screenOrientation="portrait"            
            android:label="@string/title_activity_virus_info" >
        </activity>
        <activity
            android:name="com.example.threats_and_preventions.SnifferInfo"
            android:screenOrientation="portrait"            
            android:label="@string/title_activity_sniffer_info"
            android:parentActivityName="com.example.threats_and_preventions.ThreatsMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.threats_and_preventions.ThreatsMenu" />
        </activity>
        <activity
            android:name="com.example.threats_and_preventions.Spoofing_info"
            android:screenOrientation="portrait"            
            android:label="@string/title_activity_spoofing_info" >
        </activity>
        <activity
            android:name="com.example.threats_and_preventions.PhishingInfo"
            android:screenOrientation="portrait"            
            android:label="@string/title_activity_phishing_info" >
        </activity>
        <activity
            android:name="com.example.threats_and_preventions.PharmingInfo"
            android:screenOrientation="portrait"            
            android:label="@string/title_activity_pharming_info" >
        </activity>
        <activity
            android:name="com.example.threats_and_preventions.MiddlemanInfo"
            android:screenOrientation="portrait"            
            android:label="@string/title_activity_middleman_info" >
        </activity>
        <activity
            android:name="com.example.threats_and_preventions.SpamInfo"
            android:screenOrientation="portrait"            
            android:label="@string/title_activity_spam_info" >
        </activity>
        <activity
            android:name="com.example.threats_and_preventions.PasswordcrackInfo"
            android:screenOrientation="portrait"                        
            android:label="@string/title_activity_passwordcrack_info" >
        </activity>
        <activity
            android:name="com.example.threats_and_preventions.TrojanInfo"
            android:screenOrientation="portrait"            
            android:label="@string/title_activity_trojan_info" >
        </activity>
        <activity
            android:name="com.example.threats_and_preventions.QuizActivity"
            android:screenOrientation="portrait"            
            android:label="@string/title_activity_threats_menu" >
        </activity>
        <activity
            android:name="com.example.threats_and_preventions.QuizResultsActivity"
            android:screenOrientation="portrait"            
            android:label="@string/quizresults" >
        </activity>
    </application>

</manifest>
